.header{
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(/src/img/header-lpt.jpg);
    background-size: cover;

    max-width: 1440px;
    height: 379px;
}